In [1]:
from scrapper.helper import clean_up_n_save_new_csv
from scrapper.helper import concat_n_del
from scrapper.helper import add_uuid
import pandas as pd
import glob
import os
import uuid
from requests_html import HTMLSession,user_agent

In [2]:
df = pd.read_csv('csv/cities_n_links.csv')

In [3]:
df.columns

Index(['city', 'links', 'img'], dtype='object')

In [6]:
temp = df.img

In [9]:
df['img_local'] = [None] * len(df)

In [12]:
df.head()

,city,links,img,img_local
0,上海,https://you.ctrip.com/place/shanghai2.html,https://youimg1.c-ctrip.com/target/100e0h00000...,None
1,北京,https://you.ctrip.com/place/beijing1.html,https://youimg1.c-ctrip.com/target/100a0g00000...,None
2,天津,https://you.ctrip.com/place/tianjin154.html,https://youimg1.c-ctrip.com/target/100n1c00000...,None
3,重庆,https://you.ctrip.com/place/chongqing158.html,https://youimg1.c-ctrip.com/target/100u1c00000...,None
4,香港,https://you.ctrip.com/place/hongkong38.html,https://youimg1.c-ctrip.com/target/0101k12000a...,None

In [21]:
for i in range (len(df)):
    x = str(df.img.iloc[i]).split('/')
    df.img_local.iloc[i] = x[-1]

In [23]:
df.head()

,city,links,img,img_local
0,上海,https://you.ctrip.com/place/shanghai2.html,https://youimg1.c-ctrip.com/target/100e0h00000...,100e0h0000008rp39A12F_C_1180_462.jpg
1,北京,https://you.ctrip.com/place/beijing1.html,https://youimg1.c-ctrip.com/target/100a0g00000...,100a0g00000087qb8E7CE_C_1180_462.jpg
2,天津,https://you.ctrip.com/place/tianjin154.html,https://youimg1.c-ctrip.com/target/100n1c00000...,100n1c000001d5zaf9BCE_C_1180_462.jpg
3,重庆,https://you.ctrip.com/place/chongqing158.html,https://youimg1.c-ctrip.com/target/100u1c00000...,100u1c000001dbc8s0A2E_C_1180_462.jpg
4,香港,https://you.ctrip.com/place/hongkong38.html,https://youimg1.c-ctrip.com/target/0101k12000a...,0101k12000admkld4652D_C_1180_462.jpg

In [ ]:
df.to_csv('csv/cities_n_links.csv',index=False)