In [1]:
import pandas as pd
from scrapper_class import Scrap

In [2]:
df = pd.read_csv(r'..\csv\cities_n_links.csv')

In [3]:
sight = Scrap(df,'sight',nums=2)

In [4]:
sight.scrap_info()

https://you.ctrip.com/sight/shanghai2/s0-p3.html 10
https://you.ctrip.com/sight/shanghai2/s0-p4.html 20
https://you.ctrip.com/sight/shanghai2/s0-p5.html 30
https://you.ctrip.com/sight/shanghai2/s0-p6.html 40
https://you.ctrip.com/sight/shanghai2/s0-p7.html 50
https://you.ctrip.com/sight/shanghai2/s0-p8.html 60
https://you.ctrip.com/sight/beijing1/s0-p3.html 70
https://you.ctrip.com/sight/beijing1/s0-p4.html 80
https://you.ctrip.com/sight/beijing1/s0-p5.html 90
https://you.ctrip.com/sight/beijing1/s0-p6.html 100
https://you.ctrip.com/sight/beijing1/s0-p7.html 110
https://you.ctrip.com/sight/beijing1/s0-p8.html 120

In [5]:
df = pd.DataFrame({'names':sight.names,'popularity':sight.popularities,'scores':sight.scores,'links':sight.scores,'imgs':sight.imgs})

In [6]:
df.head()

,names,popularity,scores,links,imgs
0,东方明珠,9.0,4.7,4.7,https://dimg04.c-ctrip.com/images/010691200097...
1,外滩,8.9,4.8,4.8,https://dimg04.c-ctrip.com/images/10040m000000...
2,上海迪士尼度假区,10,4.7,4.7,https://dimg04.c-ctrip.com/images/01055120008j...
3,上海之巅观光厅,7.5,4.6,4.6,https://dimg04.c-ctrip.com/images/10070d000000...
4,豫园,8.5,4.7,4.7,https://dimg04.c-ctrip.com/images/1A0hhk124f84...

In [7]:
df.tail()

,names,popularity,scores,links,imgs
115,南山滑雪场,6.5,4.7,4.7,https://dimg04.c-ctrip.com/images/100f0z000000...
116,潭柘寺,6.4,4.7,4.7,https://dimg04.c-ctrip.com/images/100b1f000001...
117,红砖美术馆,6.3,4.3,4.3,https://dimg04.c-ctrip.com/images/100218000001...
118,八大处公园,6.3,4.7,4.7,https://dimg04.c-ctrip.com/images/100b1f000001...
119,国家图书馆,6.3,4.8,4.8,https://dimg04.c-ctrip.com/images/10030m000000...

In [8]:
print(df.iloc[300:310])

Empty DataFrame
Columns: [names, popularity, scores, links, imgs]
Index: []

In [10]:
df.to_csv('../csv/sight_data.csv',index=False)