In [40]:
import pandas as pd
from requests_html import HTML,HTMLSession
from helper_class import FuncOption 
import os

In [44]:
print(os.getcwd())

c:\Users\ZhiJun\Desktop\travelWeb\scrapper

In [34]:
df = pd.read_csv('cities_n_links.csv')

In [35]:
df.head()

  city                                          links
0   上海     https://you.ctrip.com/place/shanghai2.html
1   北京      https://you.ctrip.com/place/beijing1.html
2   天津    https://you.ctrip.com/place/tianjin154.html
3   重庆  https://you.ctrip.com/place/chongqing158.html
4   香港    https://you.ctrip.com/place/hongkong38.html

In [36]:
session = HTMLSession()

In [37]:
r = session.get(df['links'][0])

In [38]:
fo = FuncOption()
sight = fo.sight_see(df)

In [39]:
print(sight)

     city                                              links
0      上海         https://you.ctrip.com/place/shanghai2.html
1      北京          https://you.ctrip.com/place/beijing1.html
2      天津        https://you.ctrip.com/place/tianjin154.html
3      重庆      https://you.ctrip.com/place/chongqing158.html
4      香港        https://you.ctrip.com/place/hongkong38.html
..    ...                                                ...
736   大溪地        https://you.ctrip.com/place/tahiti1354.html
737    派蒙    https://you.ctrip.com/place/pyrmont2126870.html
738   达尔文         https://you.ctrip.com/place/darwin325.html
739  特卡波湖   https://you.ctrip.com/place/laketekapo57959.html
740   莎莉山  https://you.ctrip.com/place/surryhills2126966....

[741 rows x 2 columns]